# Based on http://j.mp/1YHQFgZ
# vim: ft=haproxy

defaults
    timeout connect  600s
    timeout client  600s
    timeout server  600s

mailers mymailers
    mailer smtp1 zsmtp.hybridzimbra.com:587


frontend kong_f
  bind :15001
  mode http
  default_backend crate_b

backend crate_b
  mode http
  server kong1 kong_kong_1:8001 weight 1 check inter 1000 rise 5 fall 1
  server kong2 kong_kong_2:8001 weight 1 check inter 1000 rise 5 fall 1


frontend kong_f2
  bind :15003
  mode http
  default_backend crate_b2

backend crate_b2
  mode http
  server kong1 kong_kong_1:8000 weight 1 check inter 1000 rise 5 fall 1
  server kong2 kong_kong_2:8000 weight 1 check inter 1000 rise 5 fall 1



listen stats
     bind :1936
     mode http
     stats enable
     timeout connect 10s
     timeout client 1m
     timeout server 1m
     stats hide-version
     stats realm Haproxy\ Statistics
     stats uri /
     stats auth autotat:Auotat@2020



